<h1>Register</h1>
<div>
    <label for="role-doc">Doctor: SOMEHOW, SOME WAY, ADD A SELECTION FOR ROLE OF DOC OR PAT</label>
    <input id="role-doc" type="radio">
</div>
<div>
    <label for="role-pat">Patient: </label>
    <input id="role-pat" type="radio">
</div>
<div>
    <label for="first-name">First Name: </label>
    <input id="first-name" #firstName type="text" 
    placeholder="First Name" (keyup)="updateFirstName(firstName.value)"/>
</div>
    <label for="last-name">Last Name: </label>
    <input id="last-name" #lastName type="text" 
    placeholder="Last Name" (keyup)="updateLastName(lastName.value)"/>
<div>
    <label for="email">Email: </label>
    <input id="email" #email type="text" 
    placeholder="Email" (keyup)="updateEmail(email.value)" />
</div>
<div>
    <label for="password">Password: </label>
    <input id="password" #password type="password" 
    placeholder="Password" (keyup)="updatePassword(password.value)"/>
</div>
<div>
    <button type="button" (click)="register()">Register</button>
    <button type="button" (click)="login()">Login</button>
</div>