<h1>Register</h1>
<div>
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" placeholder="First Name" />
</div>
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" placeholder="Last Name" />
<div>
    <label for="email">Email: </label>
    <input id="email" type="text" placeholder="Email" />
</div>
<div>
    <label for="password">Password: </label>
    <input id="password" type="text" placeholder="Password" />
</div>
<div>
    <button type="button" (click)="register()">Register</button>
    <button type="button" (click)="login()">Login</button>
</div>