
<div class="container">
    <mat-form-field appearance="fill">        
        <input matInput placeholder="Username" [(ngModel)]="username"/>
    </mat-form-field>
        <mat-form-field appearance="fill">        
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" >
    </mat-form-field>
    <button mat-flat-button color="primary" class="login-input" (click)="api.tryLogin(username, password)">Login</button>
    <button mat-flat-button color="basic" class="login-input" (click)="api.startRegister()">Register</button>
</div>
