<div class="container">
    <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card-title">Available</mat-card-title>
        <mat-card-subtitle>
            <mat-form-field appearance="fill">        
                <input matInput [matDatepicker]="picker" [(ngModel)]="date">           
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Time</mat-label>
                <mat-select [(ngModel)]="slot">
                  <mat-option *ngFor="let s of slots" [value]="s">
                    {{s}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-button color="accent" 
        (click)="api.schedNewAppt(date, slot)"><mat-icon>check_circle</mat-icon></button>
        <button mat-button color="warn"
        (click)="api.cancelNewAppt()"><mat-icon>cancel</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>