/* .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-items: center;
} */

.card{
    /* margin-top: 1rem; */
    width: 300px;
    height: 255px;
    margin-left:1rem;
    
}

.card-title {
    color:springgreen;
}